* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos para el Encabezado con Parallax */
  header.parallax {
    background-image: url('https://raw.githubusercontent.com/actual-mr-g/actual-mr-g.github.io/refs/heads/main/images/xGeumnG.jpeg'); /* Imagen de fondo */
    background-attachment: fixed; /* Mantiene la imagen fija durante el scroll */
    background-position: center;
    background-size: cover;
    height: 400px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  nav ul {
    list-style: none;
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .section {
    padding: 60px 0;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .gallery {
    display: flex;
    gap: 20px;
  }
  
  .work {
    width: 30%;
  }
  
  .work img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: red;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
  }
  
